#score {
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
}

#score span{
    font-weight: bold;
}

#score span.show {
    display: inline;
}

#score span.hide {
    display: none;
}


#score span.red {
   color: red;
}

#score span.yellow {
   color: yellow;
}

#score span.blue {
   color: blue;
}

#score span.green {
    color: green;
}

