#square  {
    height: 40px;
    width: 40px;
    border: black 1px solid;
    border-radius: 5px;
    display: inline-block;
    position: center;
}

#square[color='red'] {
    background-color: red;
}

#square[color='yellow'] {
    background-color: yellow;
}

#square[color='blue']{
    background-color: blue;
}

#square[color='green'] {
    background-color: green;
}


